<h1>Editing artwork</h1>

<%= render 'form' %>

<%= link_to 'See detail page', @artwork %> |
<%= link_to 'Delete this artwork', method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Artworks Table', artworks_path %>
