<h1>Editing artwork</h1>

<%= render 'form' %>

<%= link_to 'See detail page', @artwork %> |
<%= link_to "Delete", @artwork, :method => :delete, data: {confirm: "Are you sure you want to delete this?"} %> |
<%= link_to 'Artworks Table', artworks_path %>
