<%- title "About — Peter Bentley"%>
<div class="row">
	<div class="col-md-10">
		<h1>Peter Bentley is a Seattle artist fascinated by the way that light describes form. He holds an MFA in Painting and and MA in Art History from the University of Washington and a BFA from the Maryland Institute College of Art. Working from direct observation Peter represents the vitality of everyday life in oil, charcoal, watercolor and ink.</h1>
		<h2>Resume</h2>
	</div>
</div>
		
<!-- 	What say I scratch this whole idea of putting my resume on the page (besides the link)	
<div class="row">
	<div class="col-md-12">
		<h3>Exhibitions</h3>
	</div>
	<div class="col-md-2">
		2014
	</div>
	<div class="col-md-8">
		<p>Exhibition example 1</p>
		<p>Exhibition example 2</p>
		<p>Exhibition example 3</p>
	</div>
</div> -->
<p>If you're interested in viewing my exhibition history and awards, please download my resume:</p>
<a href="" class="btn btn-default">Printable Version (.pdf)</a>

<div class="row">
	<div class="col-md-8">
		<h2>Commissions</h2>
		Text
		<h2>Purchasing</h2>
		Text
		<h2>Shipping</h2>
		
		<a href="" class="btn btn-primary">Contact Me</a>
	</div>
</div>
		