<%- title "About — Peter Bentley"%>
<div class="row">
	<div class="col-md-9 col-md-offset-2">
		<h1>I'm a Seattle artist fascinated by the way that light describes form. I work from direct observation to represent the vitality of everyday life in oil, charcoal, watercolor and ink.</h1>
		<h2>Resume</h2>
		<p>For exhibition history, education and awards, please download my resume:</p>
		<a href="" class="btn btn-default">Printable Version (.pdf)</a>
	</div>
</div>
		
<!-- 	What say I scratch this whole idea of putting my resume on the page (besides the link)	
<div class="row">
	<div class="col-md-12">
		<h3>Exhibitions</h3>
	</div>
	<div class="col-md-2">
		2014
	</div>
	<div class="col-md-8">
		<p>Exhibition example 1</p>
		<p>Exhibition example 2</p>
		<p>Exhibition example 3</p>
	</div>
</div> -->


<div class="row">
	<div class="col-md-7 col-md-offset-2">
		<h2>Commissions</h2>
		Text
		<h2>Sales</h2>
			From time to time I've shown in galleries across the U.S. though I am currently not represented by one. If you're a gallery interested in representing my work, on an individual interested in purchasing a work, please <a href="">contact me.</a>
		<h2>Shipping</h2>
		
		<a href="" class="btn btn-primary">Contact Me</a>
	</div>
</div>
		