<%- title "About — Peter Bentley"%>
<div class="row">
	<div class="col-md-8">
		<h1>About Me</h1>
		<p>Lorem ipsum dolor sit amet, everti persequeris conclusionemque sit ex, nam no aperiam viderer facilisi. Sea ea meis adhuc discere. Ius in phaedrum atomorum torquatos, nec ea audiam liberavisse definitionem, id quo facer ubique. His et iriure suscipiantur, cu veritus similique mei, et lorem mazim propriae mel. At ius alienum phaedrum, mea veri luptatum interpretaris no. Ad ferri doming theophrastus vim.</p>
		<h2>Resume</h2>
		<p>Lorem ipsum dolor sit amet, everti persequeris conclusionemque sit ex, nam no aperiam viderer facilisi. Sea ea meis adhuc discere. Ius in phaedrum atomorum torquatos, nec ea audiam liberavisse definitionem, id quo facer ubique. His et iriure suscipiantur, cu veritus similique mei, et lorem mazim propriae mel. At ius alienum phaedrum, mea veri luptatum interpretaris no. Ad ferri doming theophrastus vim.</p>
		<h2>Commissions here's a really long title so I can see how it looks when the line breaks, is the leading right?</h2>
		<p>Lorem ipsum dolor sit amet, everti persequeris conclusionemque sit ex, nam no aperiam viderer facilisi. Sea ea meis adhuc discere. Ius in phaedrum atomorum torquatos, nec ea audiam liberavisse definitionem, id quo facer ubique. His et iriure suscipiantur, cu veritus similique mei, et lorem mazim propriae mel. At ius alienum phaedrum, mea veri luptatum interpretaris no. Ad ferri doming theophrastus vim.</p>
		<h3>This is an h3</h3>
		<p>Lorem ipsum dolor sit amet, everti persequeris conclusionemque sit ex, nam no aperiam viderer facilisi. Sea ea meis adhuc discere. Ius in phaedrum atomorum torquatos, nec ea audiam liberavisse definitionem, id quo facer ubique. His et iriure suscipiantur, cu veritus similique mei, et lorem mazim propriae mel. At ius alienum phaedrum, mea veri luptatum interpretaris no. Ad ferri doming theophrastus vim.</p>
		<h4>This is an h4</h4>
		<p>Lorem ipsum dolor sit amet, everti persequeris conclusionemque sit ex, nam no aperiam viderer facilisi. Sea ea meis adhuc discere. Ius in phaedrum atomorum torquatos, nec ea audiam liberavisse definitionem, id quo facer ubique. His et iriure suscipiantur, cu veritus similique mei, et lorem mazim propriae mel. At ius alienum phaedrum, mea veri luptatum interpretaris no. Ad ferri doming theophrastus vim.</p>
	</div>
</div>
