<div>
  <p>404 Error</p>
  <h1>Unlike Abraham, you have reached this page in error. </h1>
  <p>But don't worry, my <a href="http://peter-bentley.com">home page</a> provides plenty of other artworks for you to see.</p>
</div>