<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>

    <!-- Trying to see about putting the next/prev links in the footer.
    <div class="btn-group" role="group" aria-label="...">
		  <%= link_to "Previous",  @artwork.previous, :class => "btn btn-default" if @artwork.previous.present? %>
		  <%= link_to "Next", @artwork.next, :class => "btn btn-default" if @artwork.next.present? %>
		</div> -->
 	</div>

</footer>